<div class="story-body">
  <p>Airlines have particularly struggled against bad weather this summer. June experienced more weather-related delays than any June since 2013 –– 65 percent of delays and cancellations were attributed to weather conditions, up from 60 percent last year.</p>
  <p>Tensions amid delays reached a breaking point on Aug. 15, when passengers on a JFK flight to Miami were stuck on the delayed Delta flight for nearly 8 hours due to bad weather. Police were summoned after fights broke out on the plane. One passenger wrote on Twitter that the fights had gotten verbal and physical.</p>
  <p>Newark’s on-time departure and arrival rates in June ranked the lowest since at least June 2010, while cancelled and delayed flights reached a nine-year record high. Newark experienced the largest drop in on-time departures with 9 percentage points from 73% to 64%, with 4% of flights cancelled. On-time arrival performance also decreased by 6 percentage points.</p>
</div>