<div class="story-body">
  <p>“In a system like New York, which is operating at a very high-level capacity, during a peak period, you have more chance for delays and for things to go wrong,” said Eliot Lees, vice-president of ICF, a global aviation consulting firm.</p>
  <p>Lees said airports have historically expanded infrastructure to accommodate seasonal surges. The activity in the summer is about 15 and 20 percent higher than winter, he said. But even if flights land on time at New York airports, there may be a limited number of gates to accommodate aircraft. There is a serious shortage of gates at the three metro area airports, he added.</p>
  <p>Other cities like Denver have airports with nine runways and can operate huge amounts of traffic without delays. But limited land availability in the New York and New Jersey’s urban areas hinder any viable plans for additional runway construction.</p>
  <p>“They are reaching the limits of what they can serve,” Lees said. “It's not clear whether this is 10 years or 20 years from now, but at some point in the future, the shortage of runways will limit the air travel in the New York market.”</p>
  <p>Departure on-time performance in June at LaGuardia also ranked the lowest since 2010, with an 8 percentage point drop, a nuisance Tsiolkovsky witnessed firsthand. After finding dinner on a vending machine, he and his friend slept a few hours in a couch they found in the lounge area after landing in Calgary.</p>
  <p>“It was definitely exhausting,” he said. “We felt like zombies by the end of the ordeal.”</p>

</div>