<div class="story-body">
  <p>Summer is peak travel season, but what’s different this year? Runway construction mixed with more thunderstorms. JFK and Newark each closed one of its runways for repairs this season. Ben Granucci, director and senior editor of NYCAviation, a regional consulting firm, said that in ideal weather conditions, the effect of closures can be minimal. But if the wind is too strong or a thunderstorm approaches, a lot of things could go wrong.</p>
  <p>“In the wrong conditions, the airport can be forced to use a single runway for all takeoffs and landings,” he said. JFK has four runways and Newark has three.</p>
  <p>Moreover, Granucci said, bad weather at JFK can limit flights arriving and departing at Newark or LaGuardia, even if it is bright and sunny there. This happens because the three major airports share the airspace, causing a traffic jam in the sky.</p>
  <p>“Thunderstorms miles away can cause just as many problems,” he said. “When one of the air routes is blocked by a storm, it is closed to all air traffic.”</p>
</div>