<div class="story-body">
<div class="footer">
  <p class="note"><b>Data and Methodology</b></p>
  <p class="note">The data was downloaded from the U.S. Department of Transportation, where they publish data about airports, causes of flight delays, airlines, passengers, finances and more.</p>
  <p class="note">The data analysis was limited given the data available for 2019; the US Department of Transportation only had data up until June of this year, the first month of the summer. A more in-depth analysis would need the entire summer 2019 season and compare it to the last five or even 10 years to identify clearer trends.</p>
  <p class='note'>Tools used: D3.js, Python (pandas), matplotlib, Adobe Illustrator, ai2html, HTML, CSS.</p>
</div>
<div class="button" id="click"><a href="https://github.com/elenamlutz/summer-delays-nyc"> VIEW CODE</a></button></div>
</div>
